
  <h1>Order Details</h1>
  <%@user = User.find(current_user.id)%>
  <% if @order.user.email == @user.email || @user.admin == true %>
<div class="">
  <table id="customers">
  <tr>
    <td>Order date:</td>
<% if @user.admin == true %>
    <td>Ordered By</td>
<% end %>
    <td>Order date:</td>
  </tr>
  
  <tr>
    <td><%= @order.order_date %></td>
<% if @user.admin == true %>
    <td><%= @order.user.email %></td>
<% end %>
    <td><%= @order.status %></td>
    
  </tr>
  
  </table>
  
  <h2>Order Items</h2>
  
  <table id="customers">
   <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%= orderitem.created_at %></td>
        
        <td><%= orderitem.title %></td>
       <td><%= orderitem.order_id %></td>
       
      </tr>
    <% end %>
  
   <tr></tr>
   </table>
      
</div>
  
<% if @user.admin == true %>
  <%= link_to 'Edit', edit_order_path(@order), :class =>"button" %>
<% end %>
  <%= link_to 'Back', orders_path, :class =>"button" %>

<% else %>
   
<p>You cannot view this order</p>
<% end %>