<% if user_signed_in? && current_user.admin? %>
        Admin actions: <%= link_to 'Edit', edit_item_path(@item) %>
<% end %>
<div class="product-page">
  <div class="product-page__image">
    <%= image_tag (@item.image_url) %>
  </div>
  <div class="product-page__details">
    <h2><%= @item.title %></h2>
    <p><%= @item.description %></p>
    <strong>&euro;<%= sprintf('%.2f', @item.price) %></strong>
    <p><a href="/cart/<%= @item.id %>" class="button">Add to cart</a></p>
    <p class="centred"><%= link_to 'Back', (@item.category == 'merch'? merch_path : donuts_path) %></p>
  </div>
  </div>
</div>

