  
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Camila Mattos x19140096, Tatiana Carrillo x19153864">
    <title>DonutHut - Fresh donuts every day! <%=yield(:title)%></title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  </head>


  <body>
    <header class="header">
      <div class="logo">
        <%=link_to image_tag("donuthut_logo.png", alt: "DonutHut Logo"), "/" %>
      </div> 
      
      <div class="top-right">
        <% if user_signed_in? %>
        Welcome back, <%= link_to current_user.name, edit_user_registration_path %>!<br>
        <%= link_to 'My Account', edit_user_registration_path %> | <%= link_to "My Orders", orders_path  %>
          <% if current_user.admin? %>
            | <%= link_to "Admin", admin_path %>
          <% end %><br>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          <div class="shopping-basket"><% @cart %></div>
        <% else %>
        <%= link_to 'Register', new_user_registration_path %><br>
        <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </div>
    </header>
    
    <nav>
      <ul>
        <li><%= link_to "Home",'/' %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Donuts", donuts_path %></li>
        <li><%= link_to "Merch", merch_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav> 
    <% if notice %>
    <div class="alert alert--notice"><%= notice %></div>
    <% end %>
    <% if alert %>
    <div class="alert alert--error"><%= alert %></div>
    <% end %>
    <section id="maincontent" class="main-content <%=yield(:contentClass)%>">
      <div class="wrapper">
        <%= yield %>
      </div>
    </section>
    
  
    <footer class="footer">
      <div class="footer-col1">
        <%=link_to image_tag("donuthut_logo.png", alt: "DonutHut Logo"), "/" %>
      </div>
      <div class="footer-col2">
        <ul>
          <li><h3>Social Media</h3></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="footer-col3">
        <ul>
          <li><h3>Links</h3></li>
          <li><a href="#">Work with us</a></li>
          <li><a href="#">Catering</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </footer>
  
  </body>
</html>